<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WasteManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.rcpit.management.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicle</display-name>
    <servlet-name>AddVehicle</servlet-name>
    <servlet-class>com.rcpit.management.AddVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicle</servlet-name>
    <url-pattern>/AddVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectDb</display-name>
    <servlet-name>ConnectDb</servlet-name>
    <servlet-class>com.rcpit.management.ConnectDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectDb</servlet-name>
    <url-pattern>/ConnectDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uLogin</display-name>
    <servlet-name>uLogin</servlet-name>
    <servlet-class>com.rcpit.management.uLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uLogin</servlet-name>
    <url-pattern>/uLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.rcpit.management.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoard</display-name>
    <servlet-name>DashBoard</servlet-name>
    <servlet-class>com.rcpit.management.DashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoard</servlet-name>
    <url-pattern>/DashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicle</display-name>
    <servlet-name>UpdateVehicle</servlet-name>
    <servlet-class>com.rcpit.management.UpdateVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicle</servlet-name>
    <url-pattern>/UpdateVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVehicle</display-name>
    <servlet-name>DeleteVehicle</servlet-name>
    <servlet-class>com.rcpit.management.DeleteVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVehicle</servlet-name>
    <url-pattern>/DeleteVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Raised</display-name>
    <servlet-name>Raised</servlet-name>
    <servlet-class>com.rcpit.management.Raised</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Raised</servlet-name>
    <url-pattern>/Raised</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userDashboard</display-name>
    <servlet-name>userDashboard</servlet-name>
    <servlet-class>com.rcpit.management.userDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDashboard</servlet-name>
    <url-pattern>/userDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gettersetter</display-name>
    <servlet-name>gettersetter</servlet-name>
    <servlet-class>com.rcpit.management.gettersetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gettersetter</servlet-name>
    <url-pattern>/gettersetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>raisedcnd</display-name>
    <servlet-name>raisedcnd</servlet-name>
    <servlet-class>com.rcpit.management.raisedcnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>raisedcnd</servlet-name>
    <url-pattern>/raisedcnd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>raisedCnd</display-name>
    <servlet-name>raisedCnd</servlet-name>
    <servlet-class>com.rcpit.management.raisedCnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>raisedCnd</servlet-name>
    <url-pattern>/raisedCnd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>completed</display-name>
    <servlet-name>completed</servlet-name>
    <servlet-class>com.rcpit.management.completed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>completed</servlet-name>
    <url-pattern>/completed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approved</display-name>
    <servlet-name>approved</servlet-name>
    <servlet-class>com.rcpit.management.approved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approved</servlet-name>
    <url-pattern>/approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disapproved</display-name>
    <servlet-name>disapproved</servlet-name>
    <servlet-class>com.rcpit.management.disapproved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disapproved</servlet-name>
    <url-pattern>/disapproved</url-pattern>
  </servlet-mapping>
</web-app>